@import url('bootstrap-basic.less');
@import url('elements.less');
@import url('vars.less');
@import url('font-awesome.less');
@import url('mixins.less');

html {
width: 100%;
height: 100%;	
}

body.atfc-tablet-css {
font-family: @reg-font;
width: 100%;
height: 100%;
min-height: 100%;
position: relative;
padding: 0;
margin: 0;
font-family: sans-serif;
background-color: white;
	
	&.js  {
	opacity: 1;	
	}
	
	&.loading {
	overflow: hidden;	
	}

	#loader {
	.abs;
	.left(0);
	.right(0);
	.top(0);
	.bottom(0);
	.trans-bg(@wht; 0.7);
	z-index: 1004002;
		
		.sk-wave {
		 position: absolute;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
		 // margin: 40px auto;
		  width: 100px;
		  height: 100px;
		  text-align: center;
		  font-size: 10px; }
		  
		  .sk-wave .sk-rect {
		    background-color: #333;
		    height: 100%;
		    width: 15px;
		    display: inline-block;
		    margin: 0px 2px;
		    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
		            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
		  .sk-wave .sk-rect1 {
			  .bg-col-purple;
		    -webkit-animation-delay: -1.2s;
		            animation-delay: -1.2s; }
		  .sk-wave .sk-rect2 {
			  .bg-col-green;
		    -webkit-animation-delay: -1.1s;
		            animation-delay: -1.1s; }
		  .sk-wave .sk-rect3 {
			  .bg-col-pink;
		    -webkit-animation-delay: -1s;
		            animation-delay: -1s; }
		  .sk-wave .sk-rect4 {
			  .bg-col-orange;
		    -webkit-animation-delay: -0.9s;
		            animation-delay: -0.9s; }
		  .sk-wave .sk-rect5 {
			  .bg-col-blue;
		    -webkit-animation-delay: -0.8s;
		            animation-delay: -0.8s; }
		
		@-webkit-keyframes sk-waveStretchDelay {
		  0%, 40%, 100% {
		    -webkit-transform: scaleY(0.4);
		            transform: scaleY(0.4); }
		  20% {
		    -webkit-transform: scaleY(1);
		            transform: scaleY(1); } }
		
		@keyframes sk-waveStretchDelay {
		  0%, 40%, 100% {
		    -webkit-transform: scaleY(0.4);
		            transform: scaleY(0.4); }
		  20% {
		    -webkit-transform: scaleY(1);
		            transform: scaleY(1); } }

	}
	
	.tlw-wrapper {
	position: relative;
	min-height: 100%;	
		h1, h2, h3, h4, h5 {
		margin-top: 0px;
		color: @grayDk;
		overflow-wrap: break-word;
		}

	}
	
	#main-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0px;
	right: 0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding-top: 110px;
	}
	
	#top-nav {
	.h(0);
	.over-hide;	
	.none;
	}
	
	a, button {
	pointer-events: none;	
	}
	 
	#txt-only-content,
	#search-pop-up,
	.page-tools,
	#route-finder-modal,
	#theme-my-login,
	#feefologohere {
	display: none;	
	}
	
	header[role="banner"] {
//.bg-col(white);	
.trans-bg(@wht; 0.9);
.abs;
.top(0);
.left(0);
.right(0);
.h(8);
z-index: 2;
.over-hide;

	a.logo {
	.block;
	.h(7.5);
	.max-w(22);
	.bg-img("tlw-logo-wide.svg");
	.bg-repeat(no-repeat);
	background-position: left center;
	.bg-size(contain);

		&:active {
		.opacity(0.5);	
		}
		
	}
	
	.header-action-btns {
	.block !important;
	.pad-top(1.75);
	.h(7.5);
		.btn {
		.border(@grayDk; 0.1);
		.no-rounded;
		.txt-col-grayDk;
		.bg-col(@trans); 
		.w(4);
		.h(4);
		.pad-all(0);
		.mag-left(1);
			&:active {
			.bg-col-grayDk;
			.col(white);
			}	
		}

	}
	
	.tel-num {
	.line-h(7.5);	
		a {
		.txt-col-red;
			&:active {
			.txt-col-red-dk;
			}	
		}
	}
}
	
	#continue-read-btn {
	border-radius: 0px;
	border: 1px solid @grayLt;
	background-color: @grayLt;
	color: @grayLt;
	height: 40px;
	width: 100%;
		i {
		display: none;
		}	
	}
	
	#breadcrumbs {
	color: @gray;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 30px;
		.breadcrumbs-inner {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;	
		}
		a {
		color: @gray;
		text-decoration: none;
		}
	}
	
	#slim-top-banner {
	height: 250px;
	overflow: hidden;
		
		.container-fluid, .row, .col-md-10 {
		height: 100%;
		position: relative;	
		}
		
		.img {
		position: absolute;
		top: 0px;
		left: 15px;
		right: 15px;
		height: 100%;
		background-image: none !important;	
		background-color: @grayLt;
		}
	
		.banner-title, i.fa {
		display: none;	
		}
	}
	
	section#contact-us-banner {
	.mag-bot(4);		
		.container-fluid {
		height: 100%;	
		.rel;
		}
		
		.img {
		position: absolute;
		left: 15px;
		right: 15px;
		top: 0px;
		height: 100%;
		.bg-size;
		.bg-repeat(no-repeat);
		background-position: center center;	
		}
		
		.intro {
		.rel;
		z-index: 2;
		.txt-col-wht;
		.mag-bot(8);
		.pad-top(8);
		.pad-left(2.5);
		
				p {
				.font-size(2);
				.line-h(2.5);	
				}
				
				p.header {
				.font-slab-serif;
				.font-size(4);
				.line-h(4);
				.caps;
				.mag-bot(1);	
				}	
		}
		
		.contact-info {
		.rel;
		z-index: 2;
		.pad-bot(3);
		.pad-left(1);
		.pad-right(1);
		text-align: center;
			a.contact-info-link {
			.txt-col-grayDk;
			text-align: center;	
			.font-size(1.6);
			.font-slab-serif;
			.h(5);
			.line-h(5);
			.rel;
			.pad-right(1);
			.pad-left(1);
			.trans-bg(@wht; 0.8);
			.border(@grayDk; 0.1);
			.in-block;
			.mag-left(0.5);
			.mag-right(0.5);
			width: 31%;
			.no-text-dec;		
				
				&:active {
				.bg-col-grayDk;
				.txt-col-wht;
				}
			}
			
		}
	}
	
	section#top-banner {
		.mag-bot(3.6);	
	
		&.hp-banner {
		.mag-bot(0);	
		}
		
		.banner-links-imgs {
		.rel;	
		.mag-bot(0);
			li {
			width: calc(~"100% / 3");
			.h(20);
			.mag-bot(0.4);
			.pad-left(0.2);
			.pad-right(0.2);
			.fleft;
			}
			
			&.links-total-4 li {
			width: calc(~"100% / 2");		
			}
			
			&.links-total-5 {
				li:first-child, li:nth-child(2) {
				width: calc(~"100% / 2");	
				}	
			}
			
			span.img {
			.abs;
			.top(0);
			.left(0);
			.right(0);
			.bottom(0);
			.bg-size;
			.bg-repeat(no-repeat);
			background-position: center center;	
			.transition;	
			}
			
			span.title {
			.abs;
			.left(0);
			.right(0);
			.bottom(0);	
			.trans-bg(@wht; 0.8);
			.line-h(5);
			.caps;
			.pad(0;1;0;1);
			.txt-col-grayDk;
			.transition;
				span {
				.in-block;
				vertical-align: middle;
				.line-h(1.6);	
				}	
			}
	
			a {
			.block;
			height: 100%;
			.font-slab-serif;
			.no-text-dec;
			.rel;
			.font-size(1.6);
			.over-hide;
				&:active {
					span.img {
					.top(-2);
					.left(-2);
					.right(-2);
					.bottom(-2);
					-webkit-filter: blur(5px);
					-moz-filter: blur(5px);
					-o-filter: blur(5px);
					-ms-filter: blur(5px);
					filter: blur(5px);	
					}
					span.title {
					.trans-bg(@red; 0.8);
					.txt-col-wht;
					}
				}
			}		
							
		}
	}
	
	section#video-banner {
	
		.video-wrapper {
		.border(@grayDk; 0.1);	
		.rel;
		.h(40);
		.over-hide;
			@media screen and (orientation: landscape) {
			.h(43.5);	
			}
		}
		
		video#service-video { 
		.abs;
		.top(0);
		.left(0);
	    width: 100%;
		height: auto;
		}
		
		.banner-title {
		.bg-col-red;
		.mag-top(2);
		.font-size(2);
		.line-h(7);
		.txt-col-wht;
			span {
			.line-h(2);	
			}
		}
	}
	
	.hp-sidebar {
	.pad-top(0.5);
		.feefo-panel {
		margin-bottom: 50px;	
		min-height: 186px;
		.border(@grayDk; 0.1);
			i, h3, div {
				display: none;
			}
		}
		
		a {
		display: none;	
		}
	
	}
	
	.service-label {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 10px;
	border: 1px solid @grayLt;
	background-color: @grayLt;
	display: inline-block;
	color: @grayLt;
	}
		
	.main-txt {
		hr {
		border: none;
		.rule;
		}
		
		.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0px;
		overflow: hidden;
		}
		
		.video-container iframe,  
		.video-container object,  
		.video-container embed {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		}
		
		iframe, object, embed {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		}
		
		h1 {
		font-family: @reg-font;
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 20px;
		margin-top: 0px;
		color: @grayDk;
		font-weight: 500;
		
			small {
			font-size: 20px;
			}
		}
		
		h2, h3, h4, h5 {
		.font-slab-serif;	
		}
		
		h2, h3, h4, h5 {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
		color: @gray;
		}
		
		a {
		color: @gray;
		font-weight: bold;
		}
		
		p {
			&.lead {
			font-weight: bold;
			}
		}
		
		p, ul, ol {
		font-family: @reg-font;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 20px;
		color: @grayDk;
			&:last-child {
			margin-bottom: 0px;	
			}	
		}
		
		i.txt-icon {
		display: block;
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
		width: 80px;
		line-height: 80px;
		.rounded(100%);	
		background-color: @gray;
		text-align: center;
		color: white;
		.font-slab-serif;
		font-size: 50px;
		font-style: normal;
		}
		
		#content-extra {
			&.closed {
			height: 0px;
			overflow: hidden;;	
			}
		
			#content-extra-inner {	
			position: relative;
			}
		}
	}
	
	.search-list {
	min-height: 1000px;
		.post-list, .rule, .page-links {
		display: none;		
		}	
	}
	
	.search-results {
	min-height: 260px;
		h1, p, .search-form-wrap {
		display: none;	
		}
	}
	
	.search-form-wrap {
	height: 130px;
		#searchform {
		display: none;	
		}
	}
	
	#site-map-lists {
	min-height: 400px;
		.container-fluid {
		display: none;	
		}
	}
		
	.post-grid {
	
		.row {
		margin-bottom: 30px;
			&:last-child {
			margin-bottom: 0px;	
			}	
		}
		
		a {
			display: block;
			height: 200px;
			position: relative;
			text-decoration: none;
			overflow: hidden;
			background-color: @grayLt;
				
				span.link-bg-img {
				display: none;	
				}	
					
				span.title {
				display: none;
				}
		
			}
	}
	
	.page-links {
		height: 48px;
		.wp-pagenavi {
		display: none;	
		}
	}
	
	.archive-dropdowns {
	height: 52px;
		.container-fluid {
		display: none;	
		}	
	}
	
	.toolkit-info {
		.tk-info-wrap {
		position: relative;		
		}
	
		.tk-img {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 220px;
			height: 220px;
			background-image: none !important;
			background-color: @grayLt;
			.rounded(100%);	
			margin: 0px;
		}
		
		.tk-info-txt {
		padding-right: 250px;	
			a {
			color: @gray;
			font-weight: bold;
			}
			
			p, ul, ol {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 20px;
				&:last-child {
				margin-bottom: 0px;	
				}
			}
			
			blockquote {
			font-style: italic;
			color: @gray;
			border-color: @gray;
			padding: 5px 0px 5px 0px;	
			}
			
			h2, h3 {
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 20px;
			color: @gray;
			}
			
			h4, h5 {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 10px;
			color: @gray;
			}	
		}
	}
	
	.pg-section {
	min-height: 300px;
	
		h2.section-header {
		.font-slab-serif;
		color: @red;
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 20px;
		margin-top: 0px;
		font-weight: normal;
		}
	
		.lg-intro {
		font-family: @reg-font;
		color: @gray;
		font-weight: bold;
			p {
			font-size: 16px;
			line-height: 21px;
			}
			hr {
			border: none;
			.rule;	
			}	
			a {
			color: @grayDk;
			text-decoration: none;	
			}
		}
		.gallery-items, .faq-items, .faq-nav {
		display: none;	
		}
		&#blog-posts {
			.posts-grid {
			display: none;	
			}
		}
		&#form-section {
			.gform_wrapper {
			display: none !important;	
			}
		}
		
		&#toolkit-section {
			.container {
			min-height: 516px;	
			}
			
			.row {
			display: none;	
			}
		}
		
		&#credits-section {
		min-height: inherit;
			h2.section-header {
			position: relative;
			z-index: 2;
			height: 36px;
			text-indent: -9999px;
			width: 300px;
			border: 1px solid @gray;
			margin: -48px auto 20px auto;
			background-color: @grayLt;
			color: @grayLt;	
			}	
			
			.credit-items {
			height: 230px;
			}
	
			.credit {
			display: none;
			}
		}
		
		&#feedback-section {
			
			.lg-intro {
				.pad-bot(6);	
				.bg-img('feefo_logo.png');
				.bg-repeat(no-repeat);
				background-position: center bottom;
				.bg-size(20%);	
					.lead {
					.bold;	
					}
			}
			
			.feedback-quote {
			//.pad-left(20.5);
				.rating {
				.col(@feefoCol);
				.mag-bot(1);
				}
				
				a {
				.block;
				.font-lite;
				.no-border;
				.pad-all(0);
				.font-size(2.5);
				.line-h(3);	
				.txt-col-grayDk;
				.mag-bot(2);
				.no-text-dec;
				}
			}			
		}
		
		&#video-section {
	
			h2 {	
			margin-bottom: 10px;
			}
			.video-grid {
			margin-top: -30px;
			}
				
			.video-wrapper {
			height: 200px;
			margin-top: 30px;
			background-color: @grayLt;
				video {
				display: none;
				}	
			}
			
			@media screen and (orientation: landscape) {
				
				.video-wrapper {
				height: 230px;
				}
			}
		}
		
		&#downloads-section {
			
			.download-grid {
			margin-top: -30px;	
			}
			
			a.download-link {
			display: block;
			height: 400px;
			width: 100%;	
			margin-top: 30px;			
			pointer-events: none;
			background-color: @grayLt;
		
				span.bg-img, span.title {
				display: none;
				}
			}
		}

	}
	
	#map-canvas {
	width: 100%;
	.h(25.2);	
	}
	
	#hp-form {
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: inherit;
		.gform_wrapper {
		margin: 0px;
		min-height: 252px;
		.border(@grayDk; 0.1);
		}
		
		form {
		display: none;	
		}
	}
	
	.col-strip {
	.h(0.5);
	.rel;
		.col-block {
		.h(0.5);	
		width: 20%;
		.fleft;
		.border-right(@wht; 0.4);
		}
		
		.col-purple {
		.bg-col(@purple);	
		}
		
		.col-green {
		.bg-col(@green);	
		}
		
		.col-pink {
		.bg-col(@pink);	
		}
		
		.col-orange {
		.bg-col(@orange);	
		}
		
		.col-blue {
		.bg-col(@blue);	
		.no-border;
		}
	}
	
	#footer-info {
	min-height: 200px;
		footer {
		display: none;	
		}	
	}

}

.no-js {
	body.atfc-tablet-css {
		
		&.loading {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);	
		}
		
		.no-script-wrap {
		position: fixed;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background-color: @grayDk;
		z-index: 1000;
		
			.no-script-inner-wrap {
				text-align: center;	
				padding: 20px;
				height: 100%;
				
				&:before {
					content: "";
					display: inline-block;
					height: 100%;
					vertical-align: middle;
					margin-right: -0.25em;
				}
			}
		
			.no-script-inner {
			display: inline-block;
			vertical-align: middle;
			width: 80%;
			max-width: 500px;
			border: 5px solid @red;
			.drop-shadow(0, 0, 20px, 0.7);
			background-color: white;
			background-image: url("/wp-content/themes/tlwsolicitors-tablet-v6/_/css/img/tlw-logo-wide.png");
			background-repeat: no-repeat;
			background-position: center 20px;
			padding: 20px;
			
				h3 {
					color: @red;
					margin-top: 90px;
					text-align: center;	
				}
				
				p {
				text-align: center;
				font-weight: bold;
				margin-bottom: 30px;	
				}
				
				a.btn {
				display: block;
				text-decoration: none;
				padding: 10px;
				text-transform: uppercase;
				background-color: @red;
				color: white;
					&:active {
					background-color: @redMid;
					}	
				}
			}
		}

	}
}