#search-form {
	.h(5);
	.mag-bot(4);
	
	input.search-query {
	.no-rounded;
	.border(@grayDk, 0.1);
	.max-w(39);
	.h(5);
	-webkit-appearance: none;
	}	
	
	.search-submit {
	.bg-col(@wht);
	.txt-col-grayDk;
	.border(@grayDk; 0.1);
	border-left: none;
	.h(5);
	.pad-all(0);
	.mag-all(0);
	.indent(2);	
	text-align: left;
	.rel;
	.no-rounded;
	
		&:after {
		.abs;
		.right(2);
		.top(0);
		font-family: FontAwesome;
		content: "\f002";	
		.line-h(4.8);
		}
	
		&:hover, &:active, &:focus {
		.bg-col-grayDk;
		.txt-col-wht;
		}
		
	}
}

#search-pop-up {
.fixed;
.top(0);
.left(0);
.bottom(0);	
.right(0);
.animated;
.trans-bg(@grayDk; 0.7);
z-index: 99999;
	
	.search-pop-up-inner-wrap {
		text-align: center;	
		.pad-all(2);
		height: 100%;
		
		&:before {
			content: "";
			.in-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}	
	}
	
	.search-pop-up-inner {
	.in-block;
	vertical-align: middle;
	width: 90%;
	.drop-shadow(0, 0, 20px, 0.7);
	.bg-col(white);
	.border(@grayDk; 0.1);
	.pad-all(3);	
	.animated;
	.rel;
	}
	
	button#close-search {
	.abs;
	.right(-1);
	.top(-1);
	.border(@grayDk; 0.1);
	.pad-all(0);
	.w(3);
	.h(3);
	.rounded(15px);
	.bg-col(white);
	.txt-col-grayDk;
		&:active {
		.bg-col-grayDk;
		.txt-col-wht;
		}	
		
		i {
		.block;
		text-align: center;
		.line-h(2.8);	
		}
	}
	
	#search-form {
	.mag-bot(0);
		input.search-query {
		max-width: inherit;
		width: 70%;
		.fleft;
		.no-rounded;
		}
		
		.search-btn-wrap {
		.fright;	
		width: 30%;	
		.rel;
			.search-submit {
			width: 100%;
			.no-rounded;
			.caps;
			.font-slab-serif;	
			.font-size(1.4);
				&:active {
				.bg-col(@grayDk);
				.col(white);
				}	
			}
			
			i {
			.abs;
			.top(0);
			.right(2);
			.line-h(5);	
			.col(@wht);
			}
		}
	}
	
	&.off {
	.none;	
	}
	
	&.turn-off {
	.fadeOut;
		.search-pop-up-inner {
		.slideOutUp;	
		}	
	}
	
	&.on {
	.fadeIn;
	z-index: 2000;	
		.search-pop-up-inner {
		.slideInDown;
		}
	}
}

#route-finder-pop-up {
.fixed;
.top(0);
.left(0);
.bottom(0);	
.right(0);
.animated;
.trans-bg(@grayDk; 0.7);
z-index: 99999;
	
	.route-finder-pop-up-inner-wrap {
		text-align: center;	
		.pad-all(2);
		height: 100%;
		
		&:before {
			content: "";
			.in-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}	
	}
	
	.route-finder-pop-up-inner {
	.in-block;
	vertical-align: middle;
	width: 50%;
	.max-w(50);
	.drop-shadow(0, 0, 20px, 0.7);
	.border(@grayDk; 0.1);
	.bg-col(white);
	.pad(0;2;2;2);	
	.animated;
	.rel
	}	
	
	.pop-up-header {
	.rel;
	.top(-2.5);
	.in-block;
	.bg-col-grayDk;
	.pad-left(2);
	.pad-right(2);
	.line-h(5);
	.caps;
	.font-slab-serif;
	.mag-bot(1);
	.txt-col-wht;
	.font-size(2);
	.mag-bot(-2);
	}
	
	button#close-route-finder {
	.abs;
	.right(-1);
	.top(-1);
	.no-border;
	.pad-all(0);
	.w(3);
	.h(3);
	.rounded(15px);
	.bg-col(white);
	.border(@grayDk; 0.1);
	.col(@grayDk);
		&:hover, &:active, &:focus {
		.bg-col(@grayDk);
		.col(white);
		}	
		
		i {
		.block;
		text-align: center;
		.line-h(2.8);	
		}
	}
	
	form {
		
		input.form-control {
		.no-rounded;
		.border(@grayDk; 0.1);	
		.h(5);
		}
		.btn {
		.rel;
		.no-border;
		.no-rounded;
		.bg-col(@red);
		.txt-col-wht;
		.pad-all(0);
		.line-h(5);
		.caps;
		.font-slab-serif;
		.font-size(2);	
			&:after {
			.abs;
			.right(2);
			.top(0);
			font-family: FontAwesome;
			content: "\f124";	
			.line-h(5);	
			}
			&:hover, &:active, &:focus {
			.bg-col-grayDk;
			}
		}
	}
	
	&.off {
	.none;	
	}
	
	&.turn-off {
	.fadeOut;
		.route-finder-pop-up-inner {
		.slideOutUp;	
		}	
	}
	
	&.on {
	.fadeIn;
	z-index: 2000;	
		.route-finder-pop-up-inner {
		 -webkit-animation-delay: 0.1s; /* Safari 4.0 - 8.0 */
		 animation-delay: 0.1s;
		.slideInDown;
		}
	}
}
	
.gform_wrapper {
max-width: 100% !important;
.mag-all(0) !important;	
	
	input[type=text],
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=password],
	input[type=file] {
	.font-size(1.4)!important;
	.border(@grayDk, 0.1);
	width: 100% !important;
		&:focus {
		.border-col(@red);	
		}	
	}
	
	textarea {
	.font-size(1.4)!important;
	.border(@grayDk, 0.1);
	width: 100% !important;
		&:focus {
		.border-col(@red);	
		}
	}
	
	select {
	.font-size(1.4)!important;	
	width: 100% !important;	
		&:focus {
		.border-col(@red);	
		}
	}
	
	.gfield_radio input[type=radio] {
	height: auto;
	.mag-left(0.1);
	.mag-top(0.6) !important;
	}

	hr {
	.mag-top(3);
	.border-top(@gray, 0.2);	
	}

	ul li.fleft {
	clear: none !important;
	width: 49%;
	float: left;
	.mag-bot(2);
	
		select {
		width: 100% !important;	
		}
	}
	
	ul li.fright {
	clear: none !important;
	width: 49%;
	float: right;
	
		select {
		width: 100% !important;	
		}

	}
	
}

#form-section {
	
	h2.section-header {	
	.mag-bot(1);
	}	
	
	.gform_wrapper .gform_heading {
	.mag-bot(0);	
	}
	
	.gform_description {
	.txt-col-gray;	
	.pad-top(0);
	.bold;
	.font-size(1.6);
	.mag-bot(0);
	}
	
	.gform_wrapper input[type="text"],
	.gform_wrapper input[type="email"],
	.gform_wrapper input[type="tel"],
	.gform_wrapper input[type="file"] {
	.h(4);	
	.font-size(2) !important;
	.pad-all(1);
	.border-col(@grayDk);
	.bg-col(@wht);
	}
	
	.gform_wrapper .name_first label,
	.gform_wrapper .name_last label {
	.font-size(1.6);	
	.txt-col-gray;
	.pad-top(0.5);
	}
	
	.gform_wrapper #extensions_message {
	.font-size(1.6);
	.block;	
	.txt-col-gray;
	.bold;
	}
	
	.gform_wrapper select {
	.h(4);	
	}
	
	.bootstrap-select.btn-group .dropdown-menu li.selected a {
	.bg-col-grayDk;
	.col(white);
	}
	
	.bootstrap-select.btn-group .dropdown-menu li.selected a span.check-mark {
		.fright;
		display: inline-block;
		.col(white);
	}
	
	.bootstrap-select.btn-group .dropdown-menu li {
	.mag-bot(1);	
	}
	
	.gform_wrapper textarea.large {
		//.h(18.7);
		.h(21.8);
		.pad-all(2);
		.font-size(2);
		.border-col(@grayDk);
	}
	
	.bootstrap-select button {
	.h(4);	
	.line-h(1.8);
	.font-size(1.6);
	.pad-all(1);
	.border-col(@grayDk);
	}
	
	.gform_wrapper label {
	.font-size(1.6);	
	}
	
	.captcha label {
	.none;	
	}
	
	.ginput_recaptcha > div {
	margin: auto;	
	}
	
	.gform_wrapper label, .gform_wrapper .gfield_no_follows_desc {
	.txt-col-grayDk;	
	}
	
	.radio_marketing, .radio_updates {
	.pad-top(2);
	.border-top(@gray; 0.1);
	
		.gfield_label {
		.font-size(3);	
		.mag-bot(1);
		.bold !important;
		}
	}
	
	.gf_progressbar_wrapper {
	.mag-bot(0);	
	}
	
	.gfield_no_follows_desc {
	.mag-bot(0);	
	}
	
	.gform_wrapper .gsection {
	.no-border;
	.pad-all(0);	
	.mag-all(0);
	}
	
	.gform_wrapper .gform_body {
	.clearfix;
	}
	
	.gform_wrapper .gform_footer {
	.mag-top(1);
	.pad-all(0);
	.rel;
	//width: 50%;
	//.fright;	
		
		button.gform_button {
		.rel;
		.no-border;
		.no-rounded;
		.bg-col-red-dk;
		.txt-col-wht;
		.h(4);
		.font-size(1.6);
		.line-h(1.6);
		.caps;
		width: 100%;
		.font-slab-serif;
			
			i {
			.abs;
			.right(0);
			.top(0);
			.pad-right(2);
			.block;
			.txt-col-wht;	
			.font-size(2);
			height: 100%;
			font-style: normal;
				&:after {
				font-family: FontAwesome;
				content: "\f105";	
				.line-h(4);
				}
			}
			
			&:active {
			.bg-col-red;
			}
		}
	}
	
	.gform_wrapper .gform_page_footer {
		
		.gform_previous_button, .gform_next_button {
		.no-border;
		.bg-col-red;
		.txt-col-wht;	
		.w(15);	
		.font-slab-serif;
		.caps;
		.mag-bot(2);
			&:active {
			.bg-col-red-dk;
			}
		}
		
		.gform_next_button {
		.fright;
		}
		
		button.gform_button {
		.rel;
		.no-border;
		.no-rounded;
		.bg-col-red-dk;
		.txt-col-wht;
		.h(4);
		.font-size(1.6);
		.line-h(1.6);
		.caps;
		width: 100%;
		.font-slab-serif;
			
			i {
			.abs;
			.right(0);
			.top(0);
			.pad-right(2);
			.block;
			.txt-col-wht;	
			.font-size(2);
			height: 100%;
			font-style: normal;
				&:after {
				font-family: FontAwesome;
				content: "\f105";	
				.line-h(4);
				}
			}
			
			&:active {
			.bg-col-red;
			}
		}
	}
	
	.validation_error {
	text-align: center;	
	}
		
	.gform_confirmation_wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	.pad-top(5);	
	}
	
	.gform_confirmation_message {
	.pad-all(3);
	.rounded(20px);
	.drop-shadow(0, 3px, 10px, 0.5);
	.bg-col-red-dk;
	.border(@red; 0.2);
	.txt-col-wht;
	.font-slab-serif;
		p {
		.font-size(3);
		.line-h(4);		
		}
	}
	
	.form-disclaimer {
	.mag-top(5);
	.font-size(1.2);
	.line-h(1.4);
		br {
		.none;	
		}
	}
	
	h2.gsection_title {
	.normal;
	.font-slab-serif;
	.txt-col-gray;
	.caps;	
	.font-size(3);
	.border-bot(@grayDk; 0.1);
	}
	
	.gsection_description {
	.txt-col-gray;	
	.pad-top(1);
	.bold;
	.font-size(2);
	.line-h(2.5);
		a.btn {
		.rel;
		.no-border;
		.no-rounded;
		.bg-col-red-dk;
		.txt-col-wht;
		.h(4);
		.pad-all(0);
		.line-h(4);
		.font-size(1.6);
		.caps;
		width: 100%;
		.font-slab-serif;
			
			i {
			.abs;
			.right(0);
			.top(0);
			.pad-right(2);
			.block;
			.txt-col-wht;	
			.font-size(2);
			height: 100%;
			font-style: normal;
				&:after {
				font-family: FontAwesome;
				content: "\f105";	
				.line-h(4);
				}
			}
			
			&:active {
			.bg-col-red;
			}
		}

	}
	
	.alert {
	.font-size(1.6);
	.line-h(2);	
	width: 50%;
	}
	
	.form-question label.gfield_label {
	.font-size(3);	
	.font-slab-serif;
	.txt-col-red-dk;
	}
	
	.gform_wrapper .sorry-message {
	.mag-top(1);
	.pad-all(2);
	.border(@grayDk; 0.1);	
	.text-center;
		h2 {
		.txt-col-red;	
		.no-border;
		}
		
		.gsection_description p {
		.font-size(2.5);
		.line-h(3.5);
		.txt-col-grayDk;	
		}
	}
	
	.gform_wrapper .gsurvey-survey-field {
	.pad-right(0);
	.mag-bot(3);
		.gfield_label {
		.txt-col-red;
		.font-slab-serif;
		.font-size(2);
		.line-h(2.5);	
		}
	}
	
	.gform_wrapper table.gsurvey-likert {
		.border(@wht; 0.2);
		th.gsurvey-likert-choice-label {
		.bg-col-red-dk;
		.txt-col-wht;	
		.border-left(@wht; 0.2);
		}
		
		td.gsurvey-likert-choice {
		.bg-img('active0.svg');	
		.border-top(@wht; 0.2);
		.border-right(@wht; 0.2);
		.h(5);
		.bg-col-gray;
		cursor: pointer;
			&.gsurvey-likert-selected {
			.bg-img('active1.svg');
			.bg-col-green;	
			}
		}
	}
	
}

#hp-form {
.mag-top(3);
.mag-bot(3);	
}

#hp-form .gform_wrapper {
overflow: hidden;
.border(@grayDk; 0.1);
.pad-all(2);
	.gform_heading {
	.text-center;
		span.gform_description {
		.bold;	
		.font-size(1.6);
			span {
			.block;
			.txt-col-red;	
			.font-size(1.4);
			}
		}
	}
	
	.gfield_label {
	.sr-only;	
	}
	
	ul.gform_fields {
		li {
		.in-block;	
		//.pad-right(3);
		//.w(38);
		width: 100%;
		.mag-bot(1.5);
		.mag-top(0);
		.pad-right(0);
		
			&:nth-child(2), &:nth-child(3){
			width: 50%;
			}
			
			&:nth-child(2) {
			width: 50%;
			.pad-right(2);
			}
			
			.ginput_container {
			.mag-top(0);	
			}
		}
		
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="file"] {
		.h(4);	
		.font-size(1.6) !important;
		.pad-all(1);
		.bg-col(@wht);
		.shadow-inset-none;
		}
		
		.validation_message {
		.pad-bot(1);	
		}
	}
	
	.gform_footer {
	.mag-all(0);
	.pad-all(0);
	overflow: hidden;
	clear: none;
		
		button {
		.no-border;
		.h(4);
		.pad-all(0);
		width: 100%;
		.bg-col-red;
		.txt-col-wht;
		.rel;
		.font-slab-serif;
		.caps;
		.font-size(2);
			i:after {
			.abs;
			.right(2);
			.top(0);
			.h(4);
			.line-h(4);
			font-style: normal;
			font-family: FontAwesome;
			content: "\f105";	
			.txt-col-wht;
			.font-size(2);
			}
			&:active {
			.bg-col-red;
			}
		}	
	}
}
